<style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            background: #fff;
            max-width: 600px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-weight: bold;
        }

        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
<script>
  function record_credentials() {
    let client_id = document.getElementById("client-id");
    let client_secret = document.getElementById("client-secret");

    if (client_id.value == "" || client_secret.value == "") {
      return false;
    } else {
      sessionStorage.setItem("client_id", client_id.value);
      sessionStorage.setItem("client_secret", client_secret.value);
      return true;
    }
  }
  function login(clientId) {
    const authorizationUrl = 'https://api.myuplink.com/oauth/authorize';
    const redirectUri = 'http://localhost:3300/admin/express/plugins/nibe-myuplink/auth';
    const scope = 'READSYSTEM WRITESYSTEM offline_access'; // Adjust as needed
    const State = "x"
    const authorizeUrl =  `${authorizationUrl}?response_type=code&client_id=${clientId}&scope=${scope}&redirect_uri=${redirectUri}&state=${State}`;

    fetch(authorizeUrl).then(response=>{
      window.location.replace(response.url);
    });
  }
  const access_token = sessionStorage.getItem("access_token");
  const clientId = sessionStorage.getItem("client_id");
  
  if (access_token) {
    const admin_url = `http://localhost:3300/admin/express/plugins/nibe-myuplink`;
    window.location.replace(admin_url);
  } else if (clientId) {
    login(clientId);
  }

  
</script>

<div class="container">
        <h1>{{t 'myuplink_dev'}}</h1>
        <p>{{t 'myuplink_dev_info'}}</p>
        <a href="{{t 'myuplink_dev_link'}}">{{t 'myuplink_dev_link'}}</a>
        <p>{{t 'myuplink_dev_desc'}}</p>
        
        <form id="credentials-form" onsubmit="record_credentials()" action="http://localhost:3300/express/plugins/nibe-myuplink">
            <div class="form-group">
                <label for="client-id">Client ID:</label>
                <input type="text" id="client-id" name="client_id" placeholder="Enter your Client ID" required>
            </div>
            <div class="form-group">
                <label for="client-secret">Client Secret:</label>
                <input type="password" id="client-secret" name="client_secret" placeholder="Enter your Client Secret" required>
            </div>
            <button type="submit" >Submit</button>
        </form>
    </div>